


body {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#fff;
	background-color:#fff;
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
	color:#000043;
	line-height:1.1em;
}

p {
	color:#333;
	font-size:13px;
}
a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
	color:#333;
}
a:hover {
	text-decoration: none;
	color:#eee;	
	}

.btn-primary {
  padding: 8px 20px;
  background: #1BBD36;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}
	
.text-center h2 {
	margin-bottom:30px;
}

.text-center p {
	margin-bottom:50px;
	color:#333;
}

.budg{
    text-align: center;
}


.budg > p{
    text-align: inherit;
}

.cont{
    text-align: center;
    margin-top: 30px;
    text-transform: bold; 
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #fff;
  text-transform:uppercase;
  font-size:18px;
  border-radius:30px;
  margin-left:-10px;
}

#breadcrumb {
	background-color: #040234;
	margin-top: -20px;
}

.breadcrumb { 
  list-style: none;
  background-color: #040234;
  border-radius: 0px;
  padding:3px 10px;

}

.breadcrumb li {
   text-transform:uppercase;
   margin-top:125px;
   font-weight:600;
}

.breadcrumb li a {
    color: #fff;
}

/*===========================
  Menu and Navigation
============================ */

#topbar {
    background-color: #040234;
}

#topbar a {
    color: #fff;
}
.navigation  {
	background-color:#fff;
	padding:0;
}

.navbar-brand img {
    display: block;
    height: ;
    width: 55%;
    
}


.menu {
	font-size:12px;
	float:right;
	text-transform:uppercase;
	font-weight:700;	
}

.menu ul.nav-tabs li {
	color:#000;	
}

.nav-tabs {
	border-bottom: 0;
}
.nav-tabs > li {
	float: left;
	margin-bottom: 0;
}
.nav-tabs > li > a {	
	border-radius:0;
	color:#333;
	padding:30px;
}

.dropdown-menu > li > a {
    font-size:12px;
    font-weight:700;
    margin: 10px;
    
}

.nav-tabs > li > a:hover {	
	color: #9695fd;
	border-color: #fff #fff #fff;
	border-radius:0;
	background-color:#fff; 
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.nav-tabs > li > a.active {
	color: #9695fd;
	border-radius:0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}




/*===========================
  slider
===========================*/




.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item { 
	height: 100%;
	width:100%; 
}



.carousel-caption {
    top: 250px;
    bottom: auto;
}

.carousel-caption h1 {
    font-size: 550%;
    color: #fff;
}

.carousel-caption h3 {
    color: #fff;
}

/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 3s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}






/*=========================
 slider
=========================*/

.no-margin {
  margin: 0;
  padding: 0;
}



.feature {
	padding:50px;
}

.text {
    margin-top: 80px ;
}

.text-center i {
	font-size:40px;
	margin-top:70px;
	margin-bottom:30px;
	color:#fff;
	padding:50px;
	background:#000043;
	border-radius:50%;
}

.text-center h2 {
	margin-top:20px;
	margin-bottom:20px;
	text-transform:uppercase;
	font-size:18px;
	color: #000043;
}

#dir-tax{
    width: 100%;
    margin: 0 auto;
}

.d-tax{
    width: 100%;
    height: 600px;
    margin-top: 30px;
}

.hi-icon-effect i.fa:hover {
	background:#fff;
	color: #9695fd;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

#partner {
  background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
  background-size: cover;
}

#partner {
  color: #fff;
  text-align: center;
  padding:100px;
}

#partner h2 {
  color: #fff;
  font-size:30px;
  font-weight:600;
}

#partner p {
  color: #fff;
  font-size:20px;
  
}

.partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners ul li{
  display: inline-block;
  float: left;
  width: 20%;
}

.partners ul li a img {
	margin-top:50px;
    width: 130px;
    height: 85px;
}

#conatcat-info{
  background: #fff url(../images/contact.png) no-repeat 90% 0;
  padding: 30px 0;
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 6px;
}

.contact-info h2{
  margin-top: 0;
  color: #000;
}

.contact-info{
  color:#000;
}

/* --- about us --- */
.aboutus {
	padding:50px;
}

.aboutus img {
	border-radius:6px;
}

.aboutus h3 {
	margin-bottom:30px;
	font-weight:800;
}

.aboutus h4 {
	margin-top:30px;
	margin-bottom:30px;
	font-weight:700;
}

.skill h2{
	margin-top:-10px;
	margin-bottom: 25px;
}

.progress-wrap{
  position: relative;
}

.progress .color1,
.progress .color1 .bar-width{
  background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width{
  background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width{
  background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width{
  background: #db3615;
}

.progress, 
.progress-bar {
  height: 15px;
  line-height: 15px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: right;
}

.progress{
  position: relative;
}

.progress .bar-width{
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-left: -30px;
}

.progress span{
  position: relative;
}

.progress span:before{
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  right: 8px;
}

.progress .color1 span:before{
  border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before{
  border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before{
  border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before{
  border-color: #db3615 transparent transparent transparent;
}


.about {
	background:#eee;
	padding:50px;
}

.about h2 {
	margin-bottom:30px;
}

.about img {
	margin-bottom:30px;
	border-radius:6px;
}

.our-team {
	padding:50px;
	background:#ddd;
}

.our-team h3 {
	margin-bottom:30px;
	font-weight:800;
}

.our-team h4 {
	margin-top:20px;
	margin-bottom:20px;
	font-weight:600;
}

.our-team img{
	border-radius:6px;
	margin-top:30px;
}

.lates {
	padding:50px;
}

.lates h2 {
	font-size:20px;
	font-weight:600;
	color:#333;
}

.lates img {
	margin-top:30px;
	border-radius:5px;
    width: 599px;
    height: 343px;
}

/* --- footer --- */
.footer {
	background-color: #06073d;
	padding:15px 22px;
}

.footer-links{
    margin-top: 40px;
    margin-bottom: 30px;
}
.footer-links li {
    list-style: none;
}

.footer-links ul {
    padding: 0;
}

.footer .social-network i, .copyright {
    color: #333333;
}


hr{
    
    border-color: #333333;
    
}

.tax{
    text-align: left;
    margin: 5px;
    text-decoration: ;
}



ul.social-network {
	list-style:none;
	margin-top:20px;	
	padding:10px;
	transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

ul.social-network li {
	display:inline;
	margin: 0 18px;	
	font-size:25px;	
}

ul.social-network li a {	
	color:#d0d0d0;	
}
.social-network li:hover .fa-twitter {
  color: #00abf0;
}
.social-network li:hover .fa-facebook {
  color: #39579a;
}
.social-network li:hover .fa-google-plus {
  color: #eb8984;
}
.social-network li:hover .fa-pinterest {
  color: #c9171e; 
}
.social-network li:hover .fa-linkedin {
  color: #0077b5; 
}
.social-network li:hover .fa-youtube-play {
  color: #C84941; 
}
.social-network li:hover .fa-dribbble {
  color: #EA4C89 ; 
}
.social-network li:hover .fa-pinterest-square {
  color: #EA4B49; 
}

.copyright {
	margin-top:30px;
    text-align: right;
}

.copyright a {
	color:#fff;
	font-weight:600;
	font-size:12px;
	text-shadow:none;
}




/* --- Map --- */
.map{
	position:relative;
	margin-bottom:40px;
}

/* google map */
#google-map{
	position:relative;
	margin-top:10px;
    height: 400px;
    width: 100%;
}



a.scrollup{
    color:#fff;
	height:40px;
	width:40px;
	font-size:12px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:30px;
	right:40px;	
	opacity:0,5;
	border-radius:50%;
	z-index:999;
}
a.scrollup:hover{
	opacity:1;
	background-color:#ddd;
	color:#010034;
}